<h1>Add a New Puppy!</h1>

<%= form_for @puppy, url:"/puppies" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :breed %>
  <%= f.text_field :breed %>

  <%= f.submit %>
<% end %>

  <% if @puppy.errors.any?%>
    <% @puppy.errors.full_messages.each do |error|%>
      <p class="text-danger">
        <%= error %>
      </p>
    <% end%>
  <% end %>